.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 10px;
    cursor: pointer;
    line-height: 2em;
}

.card-light{
    border: 1px solid rgba(0, 0, 0, 0.120);
}

.card-dark{
    border: 1px solid rgba(255, 255, 255, 0.120);
}

.contact-light{
    background-color: #fff;
}

.contact-dark{
    color: #fafbfc;
    background-color: #252525;
}

.card:hover{
    background-color: #feb633;
    color: #fff;
}

.card-header p{
    margin: 0;
    font-size: .8em;
}

.card-header h3{
    margin: 0;
}

.card-desc{
    text-align: left;
    padding: 5px;
    font-size: .8em;
}

@media(max-width: 768px){
    .card{
        width: 80%;
        text-align: left;
        
    }
}

@media(max-width: 376px){
    .card-desc{
        text-align: justify;
    }
}